@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: #FFF1E7;
    font-family: 'Comfortaa';
    font-size: 0.88rem;
    color: #342E37;
}